:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 0;
}
.text-center {
  text-align: center;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 24px;
  opacity: 0.7;
}
p {
  font-size: 18px;
}
.navigation-links {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  padding: 20px 15px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.contact-link {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
}
.about-link {
  background: white;
  color: var(--primary-color);
  border-radius: 4px;
  border: 1px solid var(--primary-color);
}
.weather-link,
.landing-page-link {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .about-me-paragraph {
    margin: 10px;
  }
  .email-link {
    font-size: 20px;
  }
  p {
    text-align: center;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
